<div class="mt-20">
    @if (match) {
    <button mat-icon-button (click)="redirectfun()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <mat-card>
      <div class="card">
        <div class="header">
          <p>UPCOMING</p>
          <p>{{ formatDate(match.date)}}</p>
        </div>
      <div class="team-banner">
  <div class="team-left">
    <img [src]="match.teams[0].logo" class="team-img" />
    <span class="team-name">{{ match.teams[0].shortName }}</span>
  </div>

  <div class="vs">VS</div>

  <div class="team-right">
    <span class="team-name">{{ match.teams[1].shortName }}</span>
    <img [src]="match.teams[1].logo" class="team-img" />
  </div>
</div>
        <mat-tab-group>
          <mat-tab label="Overview">
            <mat-card class="!mt-5 !bg-white">
              <mat-card-header class="!flex !w-full !justify-center">
                <mat-card-title class="!font-bold"> Team Comparison </mat-card-title>
              </mat-card-header>

              <mat-card-content>
                <mat-grid-list cols="3" rowHeight="50px">
                  <mat-grid-tile>
                    <b>Stats</b>
                  </mat-grid-tile>

                  <mat-grid-tile>
                    <b>{{ match.teams[0].shortName }}</b>
                  </mat-grid-tile>

                  <mat-grid-tile>
                    <b>{{ match.teams[1].shortName }}</b>
                  </mat-grid-tile>

                  <mat-grid-tile>Wins</mat-grid-tile>
                  <mat-grid-tile>{{ match.teams[0].winCount }}</mat-grid-tile>
                  <mat-grid-tile>{{ match.teams[1].winCount }}</mat-grid-tile>

                  <mat-grid-tile>Losses</mat-grid-tile>
                  <mat-grid-tile>{{ match.teams[0].lossCount }}</mat-grid-tile>
                  <mat-grid-tile>{{ match.teams[1].lossCount }}</mat-grid-tile>
                  
                </mat-grid-list>
              </mat-card-content>
            </mat-card>

            <mat-list>
              <mat-list-item>
                <mat-icon matListItemIcon>location_on</mat-icon>
                <span matListItemTitle>Venue</span>
                <span matListItemLine>{{ match.venue }}, {{ match.city }}</span>
              </mat-list-item>

              <mat-divider></mat-divider>
              <mat-list-item>
                <mat-icon matListItemIcon>sports_cricket</mat-icon>
                <span matListItemTitle>Tournament</span>
                <span matListItemLine>IPL T20 2026</span>
              </mat-list-item>

              <mat-divider></mat-divider>

<mat-list-item>
  <mat-icon matListItemIcon>query_stats</mat-icon>
  <span matListItemTitle class="!font-bold">Recent Form</span>
</mat-list-item>

<mat-grid-list cols="3" rowHeight="40px">
  <mat-grid-tile>
    <b>Team</b>
  </mat-grid-tile>

  <mat-grid-tile>
    <b>{{ match.teams[0].shortName }}</b>
  </mat-grid-tile>

  <mat-grid-tile>
    <b>{{ match.teams[1].shortName }}</b>
  </mat-grid-tile>

  <mat-grid-tile class="!text-sm">
    Last 5 Matches
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="form-container">
      @for(result of match.teams[0].matchStatus; track $index) {
        <span
          class="result-circle"
          [ngClass]="result ? 'win' : 'loss'"
        >
          {{ result ? 'W' : 'L' }}
        </span>
      }
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="form-container">
      @for(result of match.teams[1].matchStatus; track $index) {
        <span
          class="result-circle"
          [ngClass]="result ? 'win' : 'loss'"
        >
          {{ result ? 'W' : 'L' }}
        </span>
      }
    </div>
  </mat-grid-tile>
</mat-grid-list>

<mat-divider></mat-divider>
            
            </mat-list>
          </mat-tab>
          <mat-tab label="Squads">
            <div class="squad-container">
              <mat-accordion class="team-accordion">
                <mat-expansion-panel
                  [expanded]="true"
                  hideToggle
                  (opened)="panel1 = true"
                  (closed)="panel1 = false"
                >
                  <mat-expansion-panel-header>
                    <div class="panel-header">
                      <mat-panel-title class="text-sm gap-1">
                        <img [src]="match.teams[0].logo" class="ipl-img" />

                        {{ match.teams[0].fullName }}
                        <mat-icon class="">{{ panel1 ? 'visibility_off' : 'visibility' }}</mat-icon>
                      </mat-panel-title>
                    </div>
                  </mat-expansion-panel-header>

                  <mat-list>
                    @for (player of match.teams[0].players; track player.id) {
                      <div class="player">
                        <mat-list-item>
                          <span matListItemTitle>
                            {{ player.name }}
                          </span>
                          <span matListItemLine>
                            {{ player.role }}
                          </span>
                        </mat-list-item>
                      </div>
                    }
                  </mat-list>
                </mat-expansion-panel>
              </mat-accordion>

              <mat-accordion class="team-accordion">
                <mat-expansion-panel
                  [expanded]="true"
                  hideToggle
                  (opened)="panel2 = true"
                  (closed)="panel2 = false"
                >
                  <mat-expansion-panel-header>
                    <mat-panel-title class="text-sm gap-1">
                      <img [src]="match.teams[1].logo" class="ipl-img" />

                      {{ match.teams[1].fullName }}

                      <mat-icon class="">{{ panel2 ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <mat-list>
                    @for (player of match.teams[1].players; track player.id) {
                      <div class="player">
                        <mat-list-item>
                          <span matListItemTitle>
                            {{ player.name }}
                          </span>
                          <span matListItemLine>
                            {{ player.role }}
                          </span>
                        </mat-list-item>
                      </div>
                    }
                  </mat-list>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card>
  }

</div>