.card {
  width: 50%;
  margin: 10px auto;
  padding: 24px;
  background-color: ghostwhite;
  margin-top: 20px;
  /* box-shadow:0 5px 2px black; */
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: gray;
}
.details-card {
  max-width: 600px;
  margin: 24px auto;
  padding: 24px;
  border-radius: 16px;
  background-color: lavender;
  margin-top: 30px;
}

.date {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.team-banner {
  display: flex;
  justify-content: space-between;
  font-family: 'Times New Roman', Times, serif;
  align-items: center;
  gap: 40px;
  padding: 20px 0;
}

.team {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
}
.team-img {
  width: 80%;
  height: 70px;
}

.ipl-img {
  /* margin-right:32px;; */
  width: 25px;
  height: 25px;
  /* object-fit: contain; */
  margin-bottom: 10px;
  /* margin-right: 20px; */
  display: flex;
  gap: 10px;
}
.ipl {
  display: flex;
  align-items: center;
  font-size: 15px;
  color: darkblue;
  /* margin-bottom:10px; */
}

.team h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
}

.center-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 100px;
}

.center-info h1 {
  margin: 0;
  font-size: 15px;
  font-weight: 100;
  /* margin-bottom: 15px; */
  margin-top: 30px;
}

.overview-container {
  width: 500px;
  justify-content: center;
  border-radius: 10px;
}
.squad-container {
  display: flex;
  gap: 16px;
  align-items: flex-start;
  /* font-size:small; */
  padding: 16px;
  margin-top: 5px;
}
.team-accordion {
  flex: 1;
  font-size: small;
}
mat-grid-tile {
  font-size: large;
}
.description {
  white-space: normal;
  word-wrap: break-word;
  line-height: 2.5;
  margin-top: 8px;
}

.panel-header {
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
