.container {
  display: flex;
  gap: 40px;
  padding: 20px;
  margin-top: 40px;
  width: 100%;
  align-items: flex-start;
}

.left-panel {
  width: 30%;
}

.right-panel {
  width: 60%;
  position: sticky;
  top: 80px; 
  align-self: flex-start;
  margin-left: 90px;
}

.match-item {
  cursor: pointer;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: all 0.3s ease;
  padding: 20px;
}

.match-item:hover {
  background-color: #e3f2fd;
  transform: translateX(6px);
}

.selected {
  background-color: #bbdefb;
 
}

.match-row {
  display: grid;
  grid-template-columns: 1fr 80px 1fr;
  align-items: center;
  width: 100%;
}

.team-right {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
}
 
.team-left {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-end;
}
 



.match-item:hover .team img {
  transform: scale(1.15);
}

.vs {
  text-align: center;
  font-weight: 600;
  color: #1976d2;
  font-size: 15px;
}

.update-card {
  padding: 15px;
  border-radius: 12px;
  background: ghostwhite;
  
}

.empty-card {
  text-align: center;
  padding: 120px;
  height: 350px;
  margin-top:100px;
  margin-left: 75px;
   /* background: ghostwhite; */
  
}
mat-card-title{
    margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 12px;
}
.row-fields {
  display: flex;
  gap: 16px;
}

.row-fields mat-form-field {
  flex: 1;
}

.date-status-row {
  display: flex;
  gap: 16px;
}

.date-status-row mat-form-field {
  flex: 1;
}
mat-card-actions {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}