.navbar {
  position:fixed;
  top: 0;
  z-index: 9999;
  color: white;
}
.logo {
  font-size: 20px;
  font-weight: bold;
}
.spacer {
  flex: 1;
}

.desktop-menu {
  display: flex;
  align-items: center;
}

 .nav-link {
  color: #ffffff !important;
}

a.mat-mdc-button, button.mat-mdc-button {
  color: #ffffff !important;
}

 .active-link {
  color: #ffffff !important;
  font-weight: 600;
  border-bottom: 2px solid #ffffff;
}

 .nav-link:hover, a.mat-mdc-button:hover, button.mat-mdc-button:hover {
  color: #ffffff !important;
}

.active-link {
  color: white;
  font-weight: 600 !important;
  border-bottom: 2px solid #fff !important;
  border-radius: 0 !important;
}

.active-link {
  /* border-bottom: 3px solid white; */
  border-bottom: 2px solid white;
  font-weight: 600;
}
.filter-card {
  margin: 16px;
  padding: 12px;
  border-radius: 12px;
}

@media (max-width: 992px) {
  .logo {
    font-size: 18px;
  }

  .nav-link {
    font-size: 13px;
    padding: 0 8px;
  }
}

 @media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu-btn {
    display: block;
  }

  .logo {
    font-size: 18px;
  }

  .navbar {
    padding: 0 10px;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 16px;
  }

  .navbar {
    height: 56px;
  }
}
