.navbar {
  position:fixed;
  top: 0;
  z-index: 9999;
  color: white;
}
.logo {
  font-size: 20px;
  font-weight: bold;
}
.spacer {
  flex: 1;
}
.active-link {
  /* border-bottom: 3px solid white; */
  border-bottom: 2px solid white;
  font-weight: 600;
}
.filter-card {
  margin: 16px;
  padding: 12px;
  border-radius: 12px;
}

