<mat-toolbar color="primary" class="navbar">
  <mat-icon>sports_cricket</mat-icon>

  <span class="logo"> CricInfo</span>

  <span class="spacer"></span>

  @for (item of items; track item.route) {
    <a
      mat-button
      class="!text-white"
      (click)="getMethod(item.route)"
      [class.active-link]="activateRoute === item.route">
      {{ item.label }}
    </a>
  }

  <!-- STATS DROPDOWN -->

  <button
    mat-button
    class="!text-white"
    [matMenuTriggerFor]="statsMenu">

    Stats

    <mat-icon>arrow_drop_down</mat-icon>

  </button>

  <mat-menu #statsMenu="matMenu">

    <button
      mat-menu-item
      (click)="getMethod('/stats/overall')">

      Overall Stats

    </button>

    <button
      mat-menu-item
      (click)="getMethod('/stats/purple')">

      Purple Cap

    </button>

    <button
      mat-menu-item
      (click)="getMethod('/stats/orange')">

      Orange Cap

    </button>

  </mat-menu>

</mat-toolbar>


@if (filteredMatches.length > 0) {
  <div class="match-container">
    @for (match of filteredMatches; track match.matchNo) {
      <mat-card class="match-card">
        <div class="card-header">
          <div class="match-status">UPCOMING</div>

          <div class="league-info">IPL T20 • {{ match.city }}</div>
        </div>

        <div class="teams-section">
          <div class="team-row">
            <img [src]="match.teams[0].logo" [alt]="match.teams[0].shortName" class="team-logo" />

            <span class="team-name">
              {{ match.teams[0].shortName }}
            </span>
          </div>

          <div class="team-row">
            <img [src]="match.teams[1].logo" [alt]="match.teams[1].shortName" class="team-logo" />

            <span class="team-name">
              {{ match.teams[1].shortName }}
            </span>
          </div>
        </div>

        <div class="time-section">
          <div class="match-date">
            {{ match.date }}
          </div>

          <div class="match-time">7.30</div>
        </div>

        <mat-divider></mat-divider>

        <div class="card-footer">
          <span>Table</span>

          <span class="venue">
            {{ match.venue }}
          </span>
        </div>
      </mat-card>
    }
  </div>
} 
