.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: cornflowerblue;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.spacer {
  flex: 1;
}

.active-link {
  /* border-bottom: 3px solid white; */
  background-color: white;
  font-weight: 600;
}
