<mat-accordion>
  @for (team of teams; track team.teamId) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <img [src]="team.logo" class="team-logo" />
        {{ team.fullName }}
      </mat-expansion-panel-header>
      <mat-list>
        @for (player of team.players; track player.playerId) {
          <mat-list-item>
            <span matListItemTitle>{{ player.name }}</span>
            <span matListItemLine>{{ player.role }}</span>
          </mat-list-item>
        }
      </mat-list>
    </mat-expansion-panel>
  }
</mat-accordion>
