<button (click)="startSecondInnings()">Start 2nd Innings</button>
<input type="text" #inp name="" id="" placeholder="value" class="border" />
<button (click)="addball(inp.value); inp.value = ''">submit</button>
@if (live) {
  <mat-card class="!bg-sky-950 text-white !rounded-t-lg !rounded-b-none shadow-xl">
    <!-- Tournament Header -->
    <div class="flex justify-between items-center px-6 py-4 border-b border-white-700">
      <div class="flex items-center gap-3">
        <img src="ipl_logo.png" class="w-10 h-10 object-contain" />

        <div>
          <h2 class="font-semibold text-lg">Indian Premier League 2026</h2>

          <p class="text-slate-400 text-sm">Match {{ live.matchNo }} • T20</p>
        </div>
      </div>

      <div class="flex items-center gap-2 text-green-400">
        <mat-icon>refresh</mat-icon>
        <span class="text-sm">Auto Refresh On</span>
      </div>
    </div>

    <!-- Teams -->
    <div class="grid grid-cols-3 items-center px-6 py-8">
      <!-- Team 1 -->
      <div class="flex items-center gap-4">
        <img [src]="live.teams[0].logo" class="w-20 h-20 object-contain" />
        <div>
          <h3 class="text-xl font-bold">
            {{ live.teams[0].shortName }}
          </h3>

          @if ((live.teams[0].scores ?? 0) > 0) {
            <p class="text-2xl font-bold">
              <span class="text-green-400 font-bold">{{ live.teams[0].scores }}</span
              >/<span class="text-red-400 font-bold">{{ live.teams[0].wickets }}</span>
            </p>

            <p class="text-slate-400 text-sm">({{ live.teams[0].overs }} Overs)</p>
          } @else {
            <p class="text-sm font-bold text-green-400">Yet to bat</p>
          }
        </div>
      </div>

      <!-- Center -->
      <div class="text-center space-y-4">
        <span
          class="inline-flex items-center gap-2 bg-red-600/20 border border-red-500/30 px-4 py-1.5 rounded-full text-sm font-bold tracking-wider text-red-400"
        >
          <!-- Green blinking dot -->
          <span class="relative flex h-3 w-3">
            <span
              class="absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75 animate-ping"
            >
            </span>

            <span class="relative inline-flex rounded-full h-3 w-3 bg-green-500"> </span>
          </span>

          LIVE
        </span>
        @if (service.innings() === 2) {
          @if (requiredRuns > 0) {
            <h1 class="text-green-400 text-lg p-5">
              {{ service.live.teams[service.tossloss()].shortName }}
              needs {{ requiredRuns }} runs in {{ remainingBalls }} balls
            </h1>
          } @else if (requiredRuns < 0) {
            <h1 class="text-yellow-400 text-lg p-5">
              {{ service.live.teams[service.tossloss()].shortName }}
              won by {{ remainingBalls }} balls
            </h1>
          }
        }
      </div>

      <!-- Team 2 -->
      <div class="flex justify-end items-center gap-4">
        <div class="text-right">
          <h3 class="text-xl font-bold">
            {{ live.teams[1].shortName }}
          </h3>

          @if ((live.teams[1].scores ?? 0) > 0) {
            <p class="text-2xl font-bold">
              <span class="text-green-400 font-bold">{{ live.teams[1].scores }}</span
              >/<span class="text-red-400 font-bold">{{ live.teams[1].wickets }}</span>
            </p>

            <p class="text-slate-400 text-sm">({{ live.teams[1].overs }} Overs)</p>
          } @else {
            <p class="text-sm font-bold text-green-400">Yet to bat</p>
          }
        </div>

        <img [src]="live.teams[1].logo" class="w-20 h-20 object-contain" />
      </div>
    </div>

    <!-- Last Over -->
    <div class="flex p-5 justify-between">
      <div class="text-lg text-white py-4">
        <p>
          {{ currentBatter1()?.name }}
          @if (striker.name === currentBatter1()?.name) {
            <span class="text-red-400">*</span>
          }
          <span class="p-1">:</span>
          <span>
            <span class="text-white">{{ currentBatter1()?.runs }}</span>
            (<span class="p-1">{{ currentBatter1()?.balls }}</span
            >)</span
          >
        </p>

        <p>
          {{ currentBatter2()?.name }}
          @if (striker.name === currentBatter2()?.name) {
            <span class="text-red-400">*</span>
          }
          <span class="p-1">:</span>
          <span>
            <span>{{ currentBatter2()?.runs }}</span>
            (<span class="p-1">{{ currentBatter2()?.balls }}</span
            >)</span
          >
        </p>
      </div>

      <div>
        <div class="flex justify-end gap-2 p-3">
          @for (b of currentBowlerBalls; track $index) {
            <div
              class="w-8 h-8 rounded-full border flex items-center justify-center"
              [ngClass]="service.ballColors[b] || 'bg-slate-700'"
            >
              <span class="text-sm font-semibold">
                {{ b }}
              </span>
            </div>
          }
        </div>

        <div class="flex justify-end">
          <div class="text-right">
            <p class="text-white text-lg">
              {{ currentBowler()?.name }}
            </p>

            <p class="text-slate-300 text-sm">
              <span class="text-green-400">{{ currentBowler()?.overs }}</span> -
              {{ currentBowler()?.runsConceded }} -
              <span class="text-red-400">{{ currentBowler()?.wickets }}</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Match Info -->
    <div class="grid grid-cols-3 gap-4 px-6 py-4 bg-sky-900 border-t border-white-700">
      <div class="flex items-center gap-2">
        <mat-icon>location_on</mat-icon>
        <span> {{ live.venue }}, {{ live.city }} </span>
      </div>

      <div class="flex items-center gap-2 justify-center">
        <mat-icon>paid</mat-icon>
        @if (toss) {
          <span> {{ toss }} elected to bat first </span>
        } @else {
          <span> Toss Soon </span>
        }
      </div>

      <div class="flex items-center gap-2 justify-end">
        <mat-icon>sports_cricket</mat-icon>
        <span> IPL Match {{ live.matchNo }} </span>
      </div>
    </div>
  </mat-card>

  <mat-card class="mt-4 rounded-2xl">
    <mat-tab-group>
      <mat-tab label="Scorecard">
        <app-scorecard></app-scorecard>
      </mat-tab>

      <mat-tab label="Commentary">
        <app-commentary></app-commentary>
      </mat-tab>

      <mat-tab label="Statistics">
        <app-statistics></app-statistics>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
} @else {
  <div class="flex justify-center items-center h-96">
    <p class="text-white text-xl">Loading Match...</p>
  </div>
}
