.card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.match-card {
  width: 100%;
  max-width: 360px;
  height: 201px;
  margin: auto;
  background:white;
  border: 1px solid gainsboro;
  border-radius: 12px;
  padding: 16px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.match-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.12);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  
}

.header-font {
  font-size: 12px;
  font-weight: 700;
  color: grey;
  letter-spacing: 0.8px;
}

.right-info {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  color:grey;
}

.upcom {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: grey;
}

.team-upd {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 14px 0;
}

.team {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.image {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.team span {
  font-size: 18px;
  font-weight: 500;
  color:black;
}

.place {
  text-align: right;
}

.place span {
  display: block;
  font-size: 10px;
  color:gray;
}

.place h4 {
  margin-top: 4px;
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.venue {
  font-size: 13px;
   font-weight: 600;
    color: #0077b6;
     cursor: pointer;
    border-bottom:1px solid #0077b6;
    
}
 .footer {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #e2e8f0;
}
.venuee {
  font-size: 13px;
font-weight: 600;
    color:grey;
}