@keyframes toastSlide {
  from {
    opacity: 0;
    transform: translateX(100%);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-toastSlide {
  animation: toastSlide 0.35s ease;
}

@keyframes progress {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

.animate-progress {
  animation: progress 3s linear forwards;
}